@page "/"

@using System.Linq
@using System.Net.Http.Headers

@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Upload files</h1>

<InputFile OnChange="@Upload" class="form-control" multiple></InputFile>


@code {
    private async Task Upload(InputFileChangeEventArgs e)
    {
        using var content = new MultipartFormDataContent();

        foreach (var file in e.GetMultipleFiles())
        {
            var fileContent = new StreamContent(file.OpenReadStream());

            fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

            content.Add(
                content: fileContent,
                name: "\"files\"",
                fileName: file.Name);

        }

        var response = await Http.PostAsync("/upload", content);
    }
}